reportlab==4.1.0
striprtf==0.0.26
Pillow==12.1.1
visual-assault-tkinter @ git+https://github.com/gerp93/VisualAssault.git@v0.2.0#subdirectory=packages/tkinter
kvg-updater @ git+https://github.com/gerp93/KVG_Standards.git@main#subdirectory=packages/python/kvg_updater
